<form>
search page
</br>
<input type="text" name="query">
      
      
         
       
<input type="submit" value="search">
</br>
    
     <% if @tweets %>
      <%@tweets.each do |tweet|%>
        <p><%= tweet.comment %></p>    
      <%end%>
    <%end%>

</form>
